@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply relative;
}

.prose .anchor {
  @apply invisible absolute;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  height: 100%;
  cursor: pointer;
  text-decoration: none !important;
}

.prose .anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-200 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

@layer components {
  .btn {
    @apply inline rounded border border-transparent bg-gray-200 px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 hover:bg-gray-300 dark:hover:bg-white;
  }

  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700 dark:hover:bg-primary-500;
  }
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
